/*Login Page
*--------------------------*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.login-container button {
    width: 100%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*Password Recovery Page
*--------------------------*/

.password-recovery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.password-recovery-container button {
    width: 100%;
}

.password-recovery-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*Register Page
*--------------------------*/

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.register-container button {
    width: 100%;
}

.register-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}