.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.login-container button {
    width: 100%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
}

footer {
    position: absolute;
    bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5em;
    list-style: none;
    margin-right: 2em;
}

