/*BASE*/

:root {
    --text-color: #4e3b22;
    --link-color: #af6c17;
    --background-color: #f3d5b5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5%;
    font-family: "Google Sans Code", sans-serif;
    background-color: var(--background-color);
}

section {
    margin-bottom: 50px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
}

.icon {
    width: 20px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

hr {
    border: 1px solid var(--text-color);
}

footer {
    text-align: right;
}

/*NAVBAR*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    align-items: center;
}

nav .left a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
}

nav .right a{
    color: var(--text-color);
    font-size: 20px;
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right span {
    margin-left: 5px;
}

/*HERO SECTION*/

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    background: #f3d5b5;
    box-shadow: -5px 5px 10px rgb(207, 181, 154), 5px -5px 10px rgb(255, 245, 208);
}

.hero-section .hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-section .hero-text {
    flex: 5;
}

.hero-section .hero-text .links {
    margin-top: 10px;
}

.hero-section span{
    color: var(--text-color);
}

.hero-section .hero-text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hero-section .hero-text .links a:hover {
    color: var(--link-color);
    border: 2px solid var(--link-color);
}

.hero-section .headshot {
    display: flex;
    flex: 2;
    justify-content: right;

}

.hero-section .headshot img {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;

}

/*SKILLS SECTION*/
.skills-section {
    padding: 0 50px;
}

.skill-cards {
    max-width: 90%;
    margin-top: 30px;
    display: flex;

    justify-content: center;
    column-gap: 100px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 300px;
    /*background: #f3d5b5;
    box-shadow: -20px 20px 60px rgb(207, 181, 154), 20px -20px 60px rgb(255, 245, 208);*/

}

.card h3 {
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.skill-text-icon {
    font-size: 50px;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    padding: 10px;
    box-shadow: -5px 5px 10px rgb(207, 181, 154), 5px -5px 10px rgb(255, 245, 208);
    border-radius: 50%;
    margin-bottom: 30px;

}

/*CONTRIBUTION SECTION*/
.contributions-section {
    border-radius: 20px;
    background: #f3d5b5;
    box-shadow: inset -5px 5px 10px #cfb59a,
    inset 5px -5px 10px #fff5d0;
    text-align: center;
    padding: 50px;
}

/*CONTACT SECTION*/

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.contact-group {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    background: #f3d5b5;

}

.contact-section h2 {
    margin-bottom: 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-section form input, textarea {
    font-family: inherit;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.contact-section form button {
    padding: 10px 20px;
    border: none;
    background-color: var(--link-color);
    color: var(--background-color);
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
}

.form-header {
    display: flex;
}

.form-header .header-left {
    flex: 5;
}

.form-header .header-right {
    flex: 1;
    text-align: right;
    font-size: 20px;
}

/* @MEDIA QUERIES*/
@media (max-width:750px){
    nav span {
        display: none;
    }

}

@media (max-width:750px){
    .hero-section {
        flex-direction: column-reverse;
    }
}

@media (max-width:750px){
    /*SKILLS*/
    .skill-cards {
        flex-direction: column;
        align-items: center;
    }

    .skill-cards .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .skill-cards span {
        display: none;
    }
}

