*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Times New Roman', Times, serif;"
}

body {
    margin: 0;
    background: #f9f9f9;
  }

header{
  display:flex;
  background:#3b2516;
  padding:20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #a77a49;
}

header div{
  color: #f2e8da;
  font-size:26px;
  font-weight:bold;
  letter-spacing:2px;
}

/* navbar */
.navsidepanel{
  height:100%;
  width:0;
  position:fixed;
  z-index:2;
  top:0;
  right:0;
  background-color:#f3d5b5;
  overflow-x:hidden;
  padding-top:80px;
  transition:0.3s;
}

.navsidepanel a{
  padding:8px 8px 8px 32px;
  text-decoration:none;
  font-size:25px;
  color:#3D2412;
  display:block;
  transition:0.3s;
}

.openbtn{
  font-size:5px;
  cursor:pointer;
  padding:0;
  border:none;
  background:rgba(40, 26, 18, 0);
}

/* Header bar */
.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar button:hover {
  color: #ffcc00;
}

.navbar button:focus {
  text-decoration: underline;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.item {
  width: 270px;
  height: auto;
  margin: 10px;
}

.image_wrapper {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: relative;
}

.image_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image_wrapper img:hover {
  transform: scale(1.1); 
}

.item p {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

footer {
  background: #3b2516;
  color: #f2e8da;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 4px solid #a77a49;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    width: 180px;
  }
}