*{
    margin:0;
    padding:0;
    font-family: Calibri, "Lucida Sans", Arial, sans-serif;
}

body{
    line-height:1.5;
    color: #3b2516;
    background: #e8dbc6;
}

.container{
    display:grid;
    grid-template-columns:350px 1fr;
    min-height:100vh;
}
/* sidebar */ 
.navsidebar{
    position:sticky;
    top:0;
    height:100vh;
    width:100%;
    background-color:#3b2516;
    color:#e8dbc6;
    padding:20px 30px;
    box-sizing:border-box;
}

/* side bar info */
#info p{
    width:300px;
    font-size:25px;
    font-weight:bold;
    color:white;
}

/* side bar list */
.navsidebar ul{
    list-style-type:none;
    margin-top:10px;
}

.navsidebar ul li a{
    font-size:20px;
    display:block;
    padding:10px 0;
    text-decoration:none;
    color:#e8dbc6;
    transition: 0.3s;
}

.navsidebar ul li a:hover{
    color:#e7b277;
    text-decoration:underline;
}

/* main */ 
main{
    padding:30px;
}

/* profile info*/
#profile{
    display:flex;
    align-items:center;
    gap:30px;
}

#profile img{
    height:170px;
    width:160px;
    border:2px solid #3b2516;
    border-radius:10px;
    margin-right:30px;
}

#profile-info{
    flex:1;
    max-width:700px;
    background-color: #a88b6a;
    font-weight:bold;
    font-size:18px;
    padding:20px 30px;
    border-radius:6px;
}

/* style */
#profile, #qualification, #skills, #project, #outcomes{
    background:white;
    padding:30px;
    margin-bottom:40px;
    border-radius:20px;
}

section h2{
    color:#4a3838;
    font-size: 1.3em;
    padding: 5px 10px;
    border-bottom: 2px solid #a88b6a;
}

section p, ul, li{
    padding:5px 10px;
}

section h4{
    margin-left:20px;
    margin-top:5px;
}

@media (max-width:768px){
    .container{
        grid-template-columns: 1fr;
    }

    .navsidebar{
        position:relative;
        width:100%;
        height:auto;
    }

    .navsidebar ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap: 5px 20px;
        padding-top:10px;
    }

    .navsidebar ul li{
        flex: 0 1 auto;
    }

    .navsidebar ul li a{
        font-size:19px;
        padding:5px 0;
        white-space:nowrap;
    }

    main{
        margin-left:0;
        padding:20px;
    }
     
    #profile{
        flex-direction: column;
        text-align:center;
    }

    #profile img{
        margin-right:0;
        margin-bottom:15px;
    }
}
